.row.SiteFigure {
    
margin-left: -80px;
margin-right: 0px;
}


.row.Heading{
    
    margin-left: -80px;
    margin-right: 0px;
    }

.row.mainText {
    
    margin-left: -80px;
    margin-right: 0px;
}


p {
    font-size: large;
}